.slot{
 
    color: rgb(200, 200, 233); 
    box-shadow: 0.1em 0.1em; 
    box-sizing: border-box;
}
  
.custom{
      border-radius: 1em;
      padding: 1em;
      color:blue;
}
.slot-of-4{
    margin-top:3em;
}